body,
html {
  margin: 0;
  padding: 0;
  min-height: 99.9vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --orange: rgb(206, 113, 62);
  --blue: rgb(6, 107, 161);
}

body {
  margin: none;
  padding: none;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: var(--orange);
  height: 40px;
}

#hero {
  background-color: var(--blue);
  height: 250px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

#hero-name {
  font-size: 50px;
  font-weight: 600;
  color: white;
}

#hero-img {
  height: 100%;
  padding-top: 20px;
}

#hero-img-ugly {
  display: inline;
  width: 400px; 
  height: 400px;
  object-fit: scale-down;
}

#hero-banner {
  background-color: black;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--orange);
}

#info-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#info-left {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.info-section {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}

.info-section.odd {
  background-color: rgb(239, 239, 239);
}

.info-title {
  font-size: 20px;
  font-weight: 500;
}

#info-right {
  flex: 1;
  max-width: 325px;
  background-color: rgb(239, 239, 239);
  box-shadow: 0 0 10px rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#top-hits-title {
  font-size: 40px;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.top-hits {
  text-align: center;
}

.top-hits-title {
  color: var(--blue);
  font-weight: 600;
  font-size: 18px;
}

.top-hits-description {
  font-size: 15px;
  margin-top: 10px;
  color: rgb(80, 80, 80);
}

.ugly-img-container {
  display: none;
}
